/* GAME BOARD STYLES */
.game-board-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: blue;
}

.player-game-board {
    width: 80%;
    height: 70vh;
    background-color: hotpink;
    /* styles for character card list */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.computer-game-board {
    width: 18%;
    height: 30vh;
    background-color: hotpink;
    /* styles for character card list */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.player-chosen-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: yellow;
}

/* CARD STYLES */
.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 12.4%;
    height: 20vh;
    background-color: green;
}

.character-card img {
    max-width: 60%;
    height: auto;
    /* prevents img from being clickable */
    pointer-events: none;
}

.character-card-name {
    /* prevents p from being clickable */
    pointer-events: none;
}

.player-chosen-card .character-card {
    background-color: purple;
    /* prevents player's card from being clickable */
    pointer-events: none;
}

.character-card:hover {
    background-color: yellow;
}

.computer-character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 3%;
    height: 5vh;
    background-color: green;
}

/* UTILITIES */
.hide {
    display: none;
}
