.board-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* GAME BOARD STYLES */
.player-game-board {
    width: 80%;
    height: 80vh;
    background-color: hotpink;
    /* styles for character card list */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.player-chosen-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: yellow;
}

/* CARD STYLES */
.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 12.4%;
    height: 20vh;
    background-color: green;
}

.character-card img {
    max-width: 70%;
    height: auto;
}

.character-card:hover {
    background-color: yellow;
}